@import "../../styles/breakpoints.scss";

.login {
  font-size: 16px;

  .logo {
    display: flex;
    justify-content: center;
    
    img {
      max-width: 90vw;
    }

    @media screen and (max-width: $breakpoint-sm) {
      img {
        max-width: 10em;
      }
    }
  }

  .form {

  }

  .btn {
    margin-top: 1em;
  }
}
