@import "../../styles/breakpoints.scss";

.login {
  font-size: 16px;
  padding: 1em;
  height: 100vh;
  padding-top: 15vh;

  .logo {
    display: flex;
    justify-content: center;
  }

  .form {
    padding-top: 4em;
    max-width: 29.5em;
    margin: 0 auto;
  }

  .btn {
    margin-top: 1em;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .login {

    .logo {
      
      img {
        max-width: 10em;
      }
    }

    .form{
      max-width: 19.5em;
    }
  }
}
