$bg-color-primary: #FFFFFF !default;
$bg-color-secondary: #F5F6FA !default;

// Header
$header-profile-bg: #E8E9EC !default;
$header-profile-border: rgba(151, 151, 151, 0.29) !default;

// Sidebar
$sidebar-color-primary: #FFFFFF !default;
$sidebar-color-secondary: #E8E9EC !default;
