@import '../../styles/variables.scss';

.header {
  font-size: 16px;
  height: 3.75em;
  padding: 0 1em;
  background-color: $bg-color-secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 2.25em;

    img {
      max-width:100%;
      max-height:100%;
    }
  }
}
