@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.header {
  font-size: 16px;
  height: 5em;
  padding: 0 1em;
  background-color: $bg-color-secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 2.25em;

    img {
      max-width:100%;
      max-height:100%;
    }
  }

  .profile {
    height: 2.25em;
    width: 2.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $header-profile-bg;
    border: 1px solid $header-profile-border;
    cursor: pointer;

    .icon {
      opacity: 0.3;
      user-select: none;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .header {
    height: 3.75em;
  }
}
